.header {
    height: 80px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #d21919;
    color: white;
    padding: 10px;
    justify-content: center
  }

  .toptext{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right !important
  }




