.btn{
    line-height: 0.5;
    font-size: 0.6rem
}

.body{
    font-size: .9rem;
    line-height: 1.2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container{
    padding-left: 1px;
}