.content{
    padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.data{
    padding-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}